  <div class="row comment">
    <div class="span8 well">
      <p><%= comment.body %></p>
      <p>
        <span class="quiet">posted by:</span> <%= comment.user.username %> <br>
        <small>at <%= comment.created_at %></small>
      </p>
    </div>
  </div>