<div class="well">

  <%= form_for @category do |f| %>
    <div class="control-group">
      <%= f.label :name %> 
      <%= f.text_field :name %>
    </div>
    <%= f.submit class:"btn" %>
  <% end %>
  </div>